.skin-red .main-header .navbar {
	background-color: #d50505;
}
@media (min-width:768px) {
	.navbar-static-top #navbar-collapse {
		width: 100%;
		background-color: #333;
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		height: 35px !important;
	}
	.navbar-static-top #navbar-collapse .nav.navbar-nav {
		margin: 0 25px !important;
		float: none !important;
	}
	.navbar-static-top #navbar-collapse .nav.navbar-nav > li > a {
		padding: 8px 20px 7px;
	}
	.navbar-static-top #navbar-collapse .nav.navbar-nav > li.active > a {
		background-color: #D50505;
		border-radius: 0 0 7px 7px;
		padding: 8px 20px 14px;
		color: #fff;
	}
	.fixed .content-wrapper, .fixed .right-side {
		padding-top: 100px;
	}
}
@media (max-width:768px) {
	.fixed .content-wrapper, .fixed .right-side {
		padding-top: 50px;
	}
}
.footer-padding {
	height: 50px;
}
.dropdown-menu > li > a {
	color: #333;
}
textarea {
	resize: none;
}
.form-control.input-sm {
	height: 30px !important;
	padding: 5px 10px !important;
}
.navbar-nav .dropdown-menu {
	padding: 0;
}
.navbar-nav .dropdown-menu a {
	padding: 10px 15px;
}
.form-group .icheckbox_square-blue {
	margin-top: 6px;
}
* + .delete_button {
	margin-left: 20px;
}
.force-left {
	text-align: left !important;
}
.force-right {
	text-align: right !important;
}
.form-hr {
	margin-top: 0;
	margin-bottom: 10px;
}
.help-block.m-none {
	margin: 0 !important;
}
tbody .form-group {
	margin-bottom: 0;
}
label.padded {
	padding: 6px 0;
}
.form-padding {
	padding: 6px 12px;
}
ul.nav.nav-tabs + table, ul.nav.nav-tabs + .tab-content, ul.nav.nav-tabs + .table-responsive {
	margin-top: 1px;
}
.navbar .dropdown-menu {
	max-height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
}
.form-control[readonly].datepicker-input {
	background-color: #fff;
}
tfoot.summary > tr > td:not(.b-top) {
	border-top: none;
	padding-top: 5px;
	padding-bottom: 5px;
}
table.table-clickable tr {
	cursor: pointer;
}
tfoot.summary > tr > td .form-group {
	margin-bottom: 0;
}
tfoot.summary > tr > td {
	padding-top: 1px !important;
	padding-bottom: 1px !important;
}
.link {
	cursor: pointer;
}
table.table > tbody + tbody {
	border-top: 25px solid white;
}
.table-responsive table {
	margin-bottom: 0;
}
.bold {
	font-weight: bold;
}
script + .wrapper > .main-header {
	position: relative;
}
script + .wrapper > .content-wrapper {
	padding-top: 0;
}
.table-responsive:not(.scroll) {
	overflow-x: visible;
}
.list-caret {
	margin-left: -15px;
	margin-right: 3px;
}
.list-indent {
	height: 1px;
	width: 15px;
}
.small-box > .row .small-box-footer {
	position: relative;
	text-align: center;
	padding: 3px 0;
	color: #fff;
	color: rgba(255,255,255,0.8);
	display: block;
	z-index: 10;
	background: rgba(0,0,0,0.1);
	text-decoration: none;
}
.small-box .icon .glyphicon {
	top: 10px;
	right: 20px;
}
.chart .morris-hover.morris-default-style {
	color: #f9f9f9;
	background: rgba(0, 0, 0, 0.8);
	border: solid 2px rgba(0, 0, 0, 0.9);
}



.asterisk {
    font-weight: bold;
    font-size: 9pt;
    color: #fe0003;
}
.pageheader {
	background-color: #3c8dbc;
    width: 100%;
    padding: 12px;
}
.pagetitle {
    text-transform: uppercase;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}
.width100 {
	width: 100%;
}
tr td .invi {
	white-space: nowrap;
    visibility: hidden;
}
tr:hover td .invi {
	visibility: visible;
}
.text-center {
	text-align:center;
}
.text-right {
	text-align:right;
}
.no-margin {
	margin: 0;
}

.input_label{
	border:0px solid transparent; 
	background-color:transparent !important; 
	width:100%;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.no-pad {
	padding: 0;
}

.req-color {
	color: #a94442;
}

.hidden-input-border{
	border: transparent;
    width: 100%;
    padding: 0;
	height: auto;
}
